label {
	font-weight: 500;
	margin-bottom: 0;
}

h4 {
	margin-bottom: 1px;
	margin-top:1px;
}

.row-margin{
	margin-top:10px;
	margin-bottom:10px;
}

a {
	color: #aaa;
}

.width-small {
	width: 10%;
}

.align-right {
	text-align: right;
}

.form-control-input {
	margin-left: -15px;
	text-align: center;
}

#bootstrap-overrides container{
	min-width:100%;
}

#bootstrap-overrides row{
	min-width:100%;
	margin:5px;
}

#bootstrap-overrides btn{
	background-color:#55acee;
	heigth:30px;
	padding: 0px;
	border: 1.5px solid #105bb9;
}

/* Empty. Add your own CSS if you like */
.item-avatar>img:first-child, .item-avatar .item-image, .item-avatar .item-content>img:first-child,
	.item-avatar .item-content .item-image, .item-avatar-left>img:first-child,
	.item-avatar-left .item-image, .item-avatar-left .item-content>img:first-child,
	.item-avatar-left .item-content .item-image {
	/* border-radius: 25px; */
	max-width: 90px;
	max-height: 90px;
	top: 15px;
}

.bar.item-input-inset .item-input-wrapper input {
	width: 100%;
}

.header {
	padding-bottom: 10px;
	font-weight: 700;
	font-size: 16px;
	background-color: #55acee;
	border-top: solid 1px;
	color: #fff;
	padding-top:10px;
}

.img-responsive {
	margin-bottom: 10px;
}

.header .col {
	background-color: #55acee;
	border-top: solid 1px;
}

.body {
	border-top: 2px solid #ddd;
	padding-top: 20px;
}

.navbar-nav {
	float: left;
	margin-left: -15px;
	font-size: smaller;
	color: #DDDDDD;
	position: absolute;
	bottom: 0px;
}

.right-border {
	border-right: 1px solid #f1f1f1;
}

.flex {
	display: flex;
}

.full-height {
	height: 100%;
}

.bold-font {
	font-weight: 700;
	font-size: 16px;
}

.strike-through {
	text-decoration: line-through;
	color: #AAA;
	font-weight: 500;
	font-size: 18px;
}

@media screen and (min-width: 0px) and (max-width: 720px) {
	.form-control-input {
		width: 50% !important;
		height: 24px;
		margin-left: 30px;
	}
	.item-count {
		padding-top: 13px;
		text-align: right;
	}
	h1 {
		font-size: 16px;
	}
	.align-right {
		text-align: left;
	}
	.flex {
		display: inline-block;
	}
	.navbar-nav {
		margin-left: 5px;
		font-size: medium;
		color: #DDDDDD;
		display: flex;
		position: inherit;
		bottom: 0px;
	}
	.container-fluid {
		padding-left: 0px;
		padding-right: 0px;
	}
}

@media screen and (max-width: 330px) {
	.navbar-nav, .nav>li {
		font-size: 12px !important;
	}
}